@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.card-container {
    height: 250px;
    width: 180px;
    perspective: 1000px;
}

.flipped .card {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    backface-visibility: hidden;
    flex: 1;
}

.front > img {
    max-height: 100%;
    max-width: 100%;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.back > h2 {
    font-family: 'Pokemon Solid', sans-serif;
    color: white;
    text-align: center;
    width: 180px;
    flex: 0 1 auto;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.back > img {
    flex: 1;
}
