.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    color: white;
    letter-spacing: 0.2ch;
}

.loader > img {
    max-width: 300px;
    max-height: 300px;
    width: 150px;
    height: 150px;
    animation: bouncing 1s ease-in-out infinite;
    image-rendering: pixelated;
}

@keyframes bouncing {
    0% {
        transform: translateY(10%);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(10%);
    }
}