@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Pokemon Solid', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container > img {
    max-width: 12rem;
    max-height: 12rem;
}

.title-container > h1 {
    font-size: 5rem;
    color: white;
}

.title-container > h1 > .poke {
    color: rgb(255, 77, 77);
}

.score-container {
    color: white;
    letter-spacing: 0.2ch;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.cards-container, .flipped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-height: 100vh;
}


@media (max-width: 370px) {
    .cards-container, .flipped {
        overflow-y: scroll;
    } 
}


