* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cards-container, .flipped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-height: 100vh;
}


@media (max-width: 370px) {
    .cards-container, .flipped {
        overflow-y: scroll;
    } 
}


